# MySQL 数据库驱动类名
jdbc.driverClassName=com.mysql.cj.jdbc.Driver

# 数据库连接 URL
# 格式: jdbc:mysql://主机名:端口/数据库名?参数列表
# - useUnicode=true: 启用 Unicode 支持
# - characterEncoding=utf8: 使用 UTF-8 字符编码
# - serverTimezone=Asia/Shanghai: 设置服务器时区为上海
# 本地开发使用 127.0.0.1，Docker 部署使用 mysql 作为主机名
jdbc.url=jdbc:mysql://127.0.0.1:3306/studyforge_ai?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai

# 数据库用户名
jdbc.username=studyforge

# 数据库密码，请修改为你的实际密码
jdbc.password=change-this-password

# 连接池最大连接数
jdbc.maximumPoolSize=20

# 连接池最小空闲连接数
jdbc.minimumIdle=4
